<div class="card mb-3 rounded bg-white">
    <div class="card-header font-weight-bold">My History </div>
    <div class="card-body p-0">
        <div class="row m-1 border-bottom">
            <div class="col-md-2 ">
                <span  style="color:green;fill: transparent;width: 1rem;">
                    <svg-tick></svg-tick>
                </span>
            </div>
            <div class="col-md-10 pl-0 pr-0"><label class="small">I posted this article</label></div>
        </div>
        <div class="row m-1">
            <div class="col-md-2">
                <span  style="color:green;fill: transparent;width: 1rem;">
                    <svg-tick></svg-tick>
                </span>
            </div>
            <div class="col-md-10 pl-0 pr-0"><label class="small">I commented on this article</label></div>
        </div>
    </div>
</div>