<div class="row ">
    <div class="col-sm-12 ">
        <div class="card lightBlueGradientBg">
            <div class="card-body p-1 pl-2">
                <div class="row pt-2">
                    <div class="col-md-12 ">
                        <h6> Support Us , please help us by making a contribution (optional)
                        </h6>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <small class="card-text">If you like our concept, please help us by contributing whatever you
                            can so
                            that we
                            can continue to give you world-class services.
                        </small>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <input type="text" placeholder="Enter Amount" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-light btn-sm border-primary blueFontColor">Pay Now</button>

                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-light btn-sm border-secondary grayFontColor">Pay Later</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>