<div class="mt-2 p-0">
  <div class="home-parent-top header-style mb-3">
    <div>
      <p class="homeMainFontStyle">
        ispace! - one space for everyone!
      </p>
    </div>
    <div>
      <p class="homeSubFontStyle">
        i! network - the ultimate platform to connect with others!
      </p>
    </div>
    <div>
      <img src="assets/images/home/main.svg" alt="join-img" class="w-25 p-2">
      <img src="assets/images/logo-animation.gif" alt="ispace1 logo animation" style="width:18.75rem;height:10rem;" />
    </div>
    <div>
      <p class="homeMainFontStyle">
        make an impression by creating the most awesome public profile!
      </p>
    </div>
    <div>
      <p class="homeSubFontStyle">
        find new friends, love, romance, relationship, dating, affair, or more!
      </p>
    </div>
  </div>
  <div class="home-parent-bottom mb-3">
    <div class="card index-box-style">
      <div class="card-header p-2"><span class="font-weight-bold">Join</span> </div>
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/home/join.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">join by signing up for a free account </span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Profile</span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="assets/images/home/profile.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">create a mind blowing profile with multiple photos</span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Search</span>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <img src="assets/images/home/search.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">search for other amazing people
        </span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold"> Connect </span>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <img src="assets/images/home/connect.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">
          connect with other fabulous people
        </span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Messaging</span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/images/home/messaging.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">exchange messages to chat with other awesome people </span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Interests</span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/images/home/interests.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">show interest by sending like or love to other incredible people</span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Upgrade </span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/images/home/upgrade.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">upgrade to make the best use of your account </span>
      </div>
    </div>
    <div class="card index-box-style">
      <div class="card-header p-2">
        <span class="font-weight-bold">Articles </span>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="assets/images/home/articles.svg" alt="join-img" class="w-25 p-2">
        </div>
      </div>
      <div class="card-body p-2">
        <span class="text-secondary">post articles to be read by millions</span>
      </div>
    </div>
  </div>
</div>