<body>
  <app-navbar></app-navbar>
  <div class="container ">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  <div class="row footer-bg-dark" *ngIf="isHome">
    <div class="col-lg-2"></div>
    <div class="col-lg-8  pb-3" style="color: #FEFEFE;">
      <h6 class="dottedBorder p-2">
        <small>
          ispace1, friends, love, romance, relationship, dating, affair, singles, hookups, crushes, flirting, match,
          date,
          companion, personals, lover, partner, soulmate.
        </small>
      </h6>
      <h6 class="dottedBorder p-2">
        <small>
          making new friends, friends with benefits, one night stand, no strings attached, single and ready to mingle,
          childhood crushes, hookup culture, flirting tips, passionate intimacy, fatal attraction, activity partners
        </small>
      </h6>
      <h6 class="dottedBorder p-2">
        <small>
          new relationship, rebound relationship, platonic relationship, committed relationship, love relationship,
          romantic relationship, long distance relationship, relationship goals, relationship advice, relationship
          questions, relationship problems
        </small>
      </h6>
      <h6 class="dottedBorder p-2">
        <small>
          real love, true love, first love, platonic love, unconditional love, love letters, love affair, love at
          first
          right, romantic love, romantic affair, romantic people, romantic passion, hopeless romantic
        </small>
      </h6>
      <h6 class="dottedBorder p-2">
        <small>
          free top best online dating websites, dating sites, free dating sites, top dating sites, best dating sites,
          online dating sites, dating guide, interracial dating, affair dating, first date, date hookup
        </small>
      </h6>
      <h6 class="dottedBorder p-2">
        <small>
          personal profiles, soulmate search, compatible people, compatibility test, marriage minded, like minded,
          search
          profiles, perfect match, pen pals, single men women, seeking man woman, how to tell know if a girl guy likes
          you
        </small>
      </h6>
    </div>
    <div class="col-lg-2"></div>
  </div>
</body>