<footer class="footer-bg-dark">
  <div class="container-fluid">
    <div class="col-lg-12 mainBlueBorder"></div>
    <div class="row container mx-auto main-mode">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-sm py-0 navbar-dark footer-bg-dark ">
          <ul class="navbar-nav float-left pl-1">
            <li class="nav-item"> <span class="nav-link tblFooter" style="color: #FEFEFE;">ispace! Copyright &copy;
                2020</span>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.facebook.com/ispace1page">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">f</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://twitter.com/ispace_1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">t</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.pinterest.com/ispace1/">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">P</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.instagram.com/ispace1page/">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">I</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.linkedin.com/company/ispace1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">in</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.youtube.com/ispace1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">YT</span>
              </a>
            </li>

          </ul>
          <ul class="navbar-nav float-right pr-1">
            <li class="nav-item">
              <a class="footerLink tblFooter pr-1 pl-1" rel="noreferrer" target="_blank"
                href="https://www.ezmethods.com/">EZ
                solutions</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter pr-1 pl-1" [routerLink]="['/About']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter pr-1 pl-1" [routerLink]="['/ContactUs']">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="footerLink  tblFooter pr-1 pl-1" [routerLink]="['/UserAgreement']">User Agreement</a>
            </li>
            <li class="nav-item">
              <a class="footerLink  tblFooter pr-1 pl-1" [routerLink]="['/PrivacyPolicy']">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter pr-1 pl-1" [routerLink]="['/CopyrightPolicy']">Copyright Policy</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter pr-1 pl-1" [routerLink]="['/CookieUse']">Cookie Use</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mobile-mode navbar navbar-dark footer-bg-dark">
      <div class="row">
        <div class="col-md-12 p-0">
          <ul class="navbar-nav">
            <li class="nav-item top-menu"> <span class="nav-link tblFooter" style="color: #FEFEFE;">ispace1 &copy;
                2021</span>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink tblFooter" rel="noreferrer" target="_blank"
                href="https://www.facebook.com/ispace1page">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">f</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://twitter.com/ispace_1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">t</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.pinterest.com/ispace1/">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">P</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link  footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.instagram.com/ispace1page/">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">I</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.linkedin.com/company/ispace1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">in</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link footerLink  tblFooter" rel="noreferrer" target="_blank"
                href="https://www.youtube.com/ispace1">
                <span class="badge badge-pill badge-light font-weight-bold" style="font-size: small;">Y</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="footerLink tblFooter" rel="noreferrer" target="_blank" href="https://www.ezmethods.com/">EZ</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/About']">About</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/ContactUs']">Contact</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/UserAgreement']">Agreement</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/PrivacyPolicy']">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/CopyrightPolicy']">Copyright</a>
            </li>
            <li class="nav-item">
              <a class="footerLink tblFooter" [routerLink]="['/CookieUse']">Cookies</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 py-2 i1-media-title">
        <a class="footerLink " style="font-size: medium;" [routerLink]="['/Tags']">ispace1 media -
          Postings & Articles
          and Tips & Advice</a>
      </div>
      <div class="col-md-4">
        <div class="row footer-buttons">
          <div class="col-md-6"><a class="btn btn-sm btn-default btn-footer rounded-pill"
              [routerLink]="['/Postings']">Article List</a></div>
          <div class="col-md-6"><a class="btn btn-sm btn-default btn-footer rounded-pill"
              [routerLink]="['/MyPostings']">My Articles</a></div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4 pb-2">
        <div class="card resource-box">
          <div class="card-header p-2 cursor footer-bg-dark footerLink border-bottom" id="headingOne"
            (click)="OpenTagsResourcesMenu('/Resources')">
            <h6 class="m-0">
              Resources
            </h6>
          </div>
          <div class="card-body footer-bg-dark table-hover footerLink p-0">
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Just-Friends']">Just Friends</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Short-Relationship']">Short
                  RelationShip</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Activity-Partner']">Activity
                  Partner</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Long-Relationship']"> Long
                  RelationShip</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Virtual-Relationship']">Virtual
                  Relationship</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Business-Partner']">Business
                  Partner</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Open-Relationship']">Open
                  Relationship</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Career-Opportunities']">Career
                  Opportunities</a>
              </div>
            </div>
            <hr>
            <div class="row linkFontStyle mb-0 footerLink">
              <div class="col-md-12 m-2"> ispace! - one space for everyone! </div>
            </div>
            <div class="row linkFontStyle mb-0 footerLink">
              <div class="col-md-12 m-2"> i! network - the ultimate platform to connect with
                others! </div>
            </div>
            <div class="row linkFontStyle mb-0 footerLink">
              <div class="col-md-12 m-2"> make an impression by creating the most awesome public profile! </div>
            </div>
            <div class="row linkFontStyle mb-0 footerLink">
              <div class="col-md-12 m-2"> find new friends, love, romance, relationship, dating, affair, or more!
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  pb-2">
        <div class="card">
          <div class="card-header p-2 cursor footer-bg-dark footerLink border-bottom" id="headingOne"
            (click)="OpenTagsResourcesMenu('/Tags')">
            <h6 class="m-0">
              Tags
            </h6>
          </div>
          <div class="card-body footer-bg-dark table-hover footerLink p-0">
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Love-Romance']">Love & Romance</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Friends-Acquaintances']">Friends &
                  Acquaintances</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Dating-Courtship']">Dating & Courtship </a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Hookups-Affairs']">
                  Hookups & Affairs</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Infidelity-Cheating']">Infidelity &
                  Cheating</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Sex-Intimacy']">Sex
                  & Intimacy </a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Heartbreaks-Breakups']">Heartbreaks &
                  Breakups</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Marriage-Wedding']">Marriage & Wedding</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Relationship-Commitment']">Relationship &
                  Commitment</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Attraction-Crushes']">Attraction &
                  Crushes</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Singles-Unattached']">Singles &
                  Unattached</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Flirting-Seducing']">Flirting & Seducing</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Harmony-Compatibility']">Harmony &
                  Compatibility</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Chemistry-Connection']">Chemistry &
                  Connection</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Spouses-Couples']">Spouses & Couples</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Gays-Lesbians']">Gays & Lesbians</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Abbreviations-Acronyms']">Abbreviations &
                  Acronyms</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Idioms-Proverbs']">Idioms & Proverbs
                </a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Quotes-Sayings']">Quotes &
                  Sayings</a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
                <a class="linkFontStyle footerLink" [routerLink]="['/Quotes-Sayings-author']">Quotes &
                  Sayings Author Name
                </a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6 border-right p-1 pl-4">
                <a class="linkFontStyle footerLink" [routerLink]="['/Astrology-Horoscope']">Astrology
                  & Horoscope
                </a>
              </div>
              <div class="col-md-6 p-1 pl-2 second-row">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</footer>