<span class="d-block text-center">
    The page that you are trying to load is no longer available or it cannot be found.
</span>
<span class="d-block text-center">
    Kindly double-check the URL address you used or contact us if you feel you have
    reached this page in error.
</span>
<div class="rounded mt-2 mb-2 cursor" style="border:1rem solid #CCC;">
    <a [routerLink]="url" class="cursor">
        <img src="assets/images/logo-animation.gif" alt="ispace1 logo animation" class="w-100">
    </a>
</div>